.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 1.1em;
    width: 100%;
    max-width: 650px;
    border: #5ccdc4a9 solid 2px;
    border-radius: 23px;
}

.single-card-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
}

.single-card-menu div {
    border-radius: 20px 20px 0 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #5ccdc4a9;
}

.card-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
}

.card-menu div {
    border-radius: 20px 20px 0 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    width: 50%;
    cursor: pointer;
}

.card-menu div:hover {
    background-color: #5ccdc4a9;
}

.card-menu div * {
    pointer-events: none;
}

.login-form,
.register-form {
    border-radius: 0 0 20px 20px;
    width: 100%;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5ccdc4a9;
}

.login-form div,
.register-form div {
    width: 100%;
}

.login-form-line,
.register-form-line {
    justify-content: center;
    max-width: 90%;
}

.login-form-doubleline,
.register-form-doubleline {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
}

.login-form-tripleline,
.register-form-tripleline {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
}

.login-form-blockline,
.register-form-blockline {
    width: 100%;
    margin: 1% 0 0 0;
}

.login-form-blockdoubleline,
.register-form-blockdoubleline {
    max-width: 40%;
    margin: 1% 0 0 0;
}

.login-form-blocktripleline,
.register-form-blocktripleline {
    max-width: 28%;
    margin: 1% 0 0 0;
}

.login-form input {
    width: 60%;
    border-radius: 5px;
    border: solid black 1px;
    height: 2em;
    margin: 3%;
}
.register-form input {
    width: 90%;
    border-radius: 5px;
    border: solid black 1px;
    height: 2em;
    margin: 3%;
}

.login-submit,
.register-submit {
    margin-top: 2%;
}

.login-box-submit,
.register-box-submit {
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    margin: 2% 0;
    height: 2em;
    width: 25%;
    background-color: #ffffff;
    border: solid #4a565a 1px;
    cursor: pointer;
}
