# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
opheli-front-end/src/const.js
opheli-front-end/node_modules
.vscode
/opheli-front-end/node_modules/
opheli-back-end/PHP/login/backend_test.php
opheli-front-end/src/Components/Form_test.jsx
package-lock.json
package.json
