input,
textarea {
    border-radius: 4px;
    font-family: var(--font-main);
    color: #4a565a;
    border: solid #4a565a 1px;
    background: none;
    margin: 5px;
    padding: 5px;
}
button {
    cursor: pointer;
    font-size: 0.9em;
    font-family: var(--font-main);
    color: #4a565a;
    background: none;
    border: solid #4a565a 1px;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
}

.supp {
    border: 2px solid darkred;
    background: #edbebe;
    color: black;
}
