.header {
    display: flex;
    height: 130px;
    border-radius: 0 0 40px 40px;
    box-shadow: var(--shadow-blue);
}

.opheli {
    font-size: 5em;
    width: 25%;
    margin-left: 5%;
    margin-top: 1%;
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
}
