.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    border-radius: 0 0 40px 40px;
    box-shadow: var(--shadow-blue);
}

.opheli {
    font-size: 5em;
    width: 25%;
    margin-left: 5%;
    margin-top: 1%;
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
}

.header-profile {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-profile svg {
    max-width: 30%;
    stroke-width: 1.5;
    stroke: #4a565a;
    fill: none;
}

.header-profile-name {
    font-size: 1.4em;
}
