.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    border-radius: 0 0 40px 40px;
    box-shadow: var(--shadow-blue);
}

.opheli {
    font-size: 5em;
    width: 25%;
    margin-left: 5%;
    margin-top: 1%;
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
}

.opheli :hover {
    color: #5ccdc4;
}

.header-profile {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3%;
}

.header-user-link,
.header-logout-link {
    max-width: 25%;
}

.header-profile svg {
    width: 100%;
    stroke-width: 1.5;
    stroke: #4a565a;
    fill: none;
    cursor: pointer;
}

.header-user-link :hover {
    stroke: #5ccdc4;
}

.header-logout-link :hover {
    stroke: #d85243;
}

.header-profile-name {
    font-size: 1.4em;
    margin: 0 5% 0 5%;
}
