.page {
    margin: 20px 0px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: var(--shadow-blue);
    background: white;
}

.liste {
    width: 100%;
    border-collapse: collapse;
    border-radius: 30px;
    overflow: hidden;
}
.tr {
    padding: 5px;
    background: #c1e8e5;
}

.trhead {
    padding: 5px;
    background: #5ccdc4a9;
}

.tdhead {
    padding: 10px;
    border-bottom: 2px solid white;
    font-weight: bold;
}

.tr:hover {
    background: #5ccdc4a9;
}
.td {
    padding: 5px;
    border-bottom: 2px solid white;
    text-overflow: ellipsis;
}

.container {
    width: 100%;
    padding: 5px;
}

.titre {
    margin: 10px;
    font-size: 1.5em;
    align-items: center;
    text-align: center;
}

.center {
    margin: 10px;
    align-items: center;
    text-align: center;
}