.page {
    margin: 10px 0px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: var(--shadow-blue);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 30px;
    overflow: hidden;
}
tr {
    background: #c1e8e5;
}
tr:hover {
    background: #5ccdc4a9;
}
td {
    padding: 10px;
    border-bottom: 2px solid white;
}

.container {
    width: 100%;
    padding: 5px;
}