.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5% auto;
    border: #5ccdc4a9 solid 2px;
    box-shadow: var(--shadow-grey-small);
    padding: 3% 5%;
    border-radius: 30px;
    min-width: 400px;
    max-width: 500px;
    background-color: #ffffff;
}

.profile-title {
    font-size: 1.6em;
}
.profile-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 10px 5%;
    margin-top: 20px;
    box-shadow: var(--shadow-grey-small);
    border-radius: 10px;
}

.profile-attribute {
    text-align: start;
}
.profile-attribute div{
    margin-top: 10%;
    margin-bottom:10% ;
}
.attribute{
    padding-top: 10%;
}
.profile-img{
    width: 25%;
    text-align: end;
}
img{
   max-width: 100%; 
}

.profile-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 10px 5%;
    margin-top: 20px;
    box-shadow: var(--shadow-grey-small);
    border-radius: 10px;
    height: 100%;
}

.update{
    flex-direction: column;
    
}

.update-password div{
    margin-top: 10%;
    margin-bottom: 3%
}

.update-email{
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.part-title {
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 10%;
}

.add-health-insurance{
    margin-top: 10%;
}

.my-ordo{
    width: 300px;
    margin-top: 20px;
}
.my-ordo svg{
    margin-top: 10px;
}



.my-ordonnances-button{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: var(--main-grey);
        background-color: #ffffff;
        border: #5ccdc4a9 solid 2px;
        border-radius: 10px;
        padding :20%;
}

.delete-account{
    margin-top: 20px;
    justify-content: end;
    align-items: flex-end;
}
.delete-account h1{
    font-weight: bold;
}
.delete-account div{
    margin-top: 5%;
}