@font-face {
    font-family: 'Varela';
    src: url('../../assets/fonts/VarelaRound-Regular.ttf');
}

:root {
    --font-main: Varela, sans-serif;
    --shadow-pink: 0px 0px 10px 0px #f76282ad;
    --shadow-blue: 0px 0px 10px 0px #5ccdc4a9;
}
